@*@model EditVM*@
@{
    ViewData["Title"] = "Edit";
}

<main>
    <section id="myprofil" style="border-top:solid 4px #E5E5E5 ;" class="mt-4">
        <div class="container">
            <div class="row mt-2 justify-content-center">
                <div class="col-lg-2 col-sm-6 col-md-6">
                    <div class="image mt-5">
                        <img src="~/assets/img/141ac84965e5ae72e0916243f43c9f3f.png" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="title mt-5">
                        <h3>
                            My profile
                        </h3>
                    </div>
                    <div class="box mt-4">
                       @* <form method="post" class="row w-100 justify-content-evenly">

                            <div class="main col-lg-5 col-sm-12  mt-4 mb-5">
                                <div class="name">
                                    <label for="">AD</label>
                                </div>
                                <div class="nameinput mt-2">
                                    <input asp-for="Name" class="form-control"><br />
                                    <span asp-validation-for="Name" class="text-light ms-5"></span>
                                </div>
                            </div>


                            <div class="main col-lg-5 col-sm-12 mx-2 mt-4 mb-5">
                                <div class="lastename">
                                    <label for="">USERNAME</label>
                                </div>
                                <div class="lastinput mt-2">
                                    <input asp-for="Username" class="form-control"><br />
                                    <span asp-validation-for="Username" class="text-light ms-5"></span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="title mt-5">
                        <h4>
                            Şifrəni dəyiş
                        </h4>
                    </div>

                    <div class="box mt-4">
                        <form method="post" class="row w-100 justify-content-evenly">

                            <div class="main col-lg-5 col-sm-12  mt-4 mb-5">
                                <div class="name">
                                    <label for="">YENİ ŞİFRƏ</label>
                                </div>
                                <div class="nameinput mt-2">
                                    <div class="iconkey">
                                        <i class="fa-solid fa-key"></i>
                                    </div>
                                    <div class="iconeye" onclick="PasswordShowHidden()">
                                        <i id="hide1" class="fa-solid fa-eye-slash"></i>
                                        <i id="hide2" class="fa-solid fa-eye"></i>
                                    </div>
                                    <input asp-for="Password" class="form-control" id="myInput"><br />
                                 <span asp-validation-for="Password" class="text-light ms-5"></span>
                                </div>
                            </div>


                            <div class="main col-lg-5 col-sm-12 mx-2 mt-4 mb-5">
                                <div class="lastename">
                                    <label for="">YENİ ŞİFRƏNİZİ TƏKRARLAYIN</label>
                                </div>
                                <div class="lastinput mt-2">
                                    <div class="iconkey">
                                        <i class="fa-solid fa-key"></i>
                                    </div>

                                    <input asp-for="ConfirmPassword" class="form-control" id="myInput"><br />
                                 <span asp-validation-for="ConfirmPassword" class="text-light ms-5"></span>
                                </div>
                            </div>
                        </form>*@

                    </div>
                    <div class="btn mt-4 d-flex justify-content-between ">
                        <div class="save">
                            <button type="submit" class="btn btn-dark">
                                DƏYİŞİKLİKLƏRİ YADDA SAXLA
                            </button>
                        </div>
                        <div class="close">
                            <button type="submit" class="btn btn-dark">
                                <i class="fa-solid fa-power-off me-2"></i>Log out
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


