@model ForgotVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<form method="post">
    <label asp-for="AppUser.Email">Please enter your email</label> <br />
    <input asp-for="AppUser.Email" class="form-control" /> 
    <button type="submit" class="btn btn-success">Send</button>
</form>

