@model ForgotVM
@{
    ViewData["Title"] = "ForgotPassword";
}


<main>
    <section id="account">
        <div class="container">
            <div class="row mt-5 d-flex justify-content-center">
                <div class="title">
                    <p>
                        Saytımıza xoş gəlmisiniz! Siz hazırda saytımızda qeydiyyatdan keçərək proqramlara yazıla
                        bilərsiniz, eyni zamanda xarici dilsəviyyənizi yoxlamaq şansınız var. Həmçinin özəl təklif
                        və məhsullarımız haqqında ilk məlumat almaq və fürsətlərdən yararlanmaq imkanınız var.
                    </p>
                </div>

                <div class="col-lg-5 mt-5">
                    <h3>Hesabını Tap</h3>
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form method="post">
                        <div class="loginbox mb-4 mt-3">
                            <div class="number" id="inputlogin">
                                <label asp-for="AppUser.Email" id="labelinput">E-POÇT</label> <br />
                                <input asp-for="AppUser.Email" class="form-control" placeholder="Please enter your email" />
                            </div>
                                <div class="btn d-flex justify-content-end me-4 mt-1">
                                    <button type="submit" class="btn btn-dark" style="background-color:#17D292;border:none;border-radius:15px;font-size:14px;font-weight:500;font-family:Verdana, Geneva, Tahoma, sans-serif">SEND</button>
                                </div>
                        </div>
                        
                     
                    </form>
                </div>
                   <div class="socials d-flex mt-3">
                            <div class="facebooks mt-4 ms-4">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="facebooks mt-4 ms-4 pinter">
                                <i class="fa-brands fa-pinterest"></i>
                            </div>
                            <div class="facebooks mt-4 ms-4 insta">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div class="facebooks mt-4 ms-4 twit">
                                <i class="fa-brands fa-twitter"></i>
                            </div>

                        </div>
            </div>
        </div>
    </section>
</main>




