@model ForgotVM

@{
    ViewData["Title"] = "ResetPassword";
}


<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
<form method="post">
    <div class="d-none">
        <input asp-for="AppUser.Email"  class="form-control" />
        <input asp-for="Token" class="form-control" />
    </div>
    <div>
        <label>New Password</label>
        <input asp-for="Password"  class="form-control" />
    </div>
    
     <div>
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword"  class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Reset Password</button>
</form>


