@model Setting
@{
    ViewData["Title"] = "Edit";
}


<div class="m-3 mt-5">
    <div class="title">
        <h2 style="color:#273044"> <span style="color:#FF0000">#</span> Dəyişiklik et</h2>
    </div>

    <h5 class="mt-4">@Model.Key</h5>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        <div>
            <input class="form-control" asp-for="Value" placeholder="Subtitle"> <br />
            <span class="text-danger" asp-validation-for="Value"></span>
        </div>
        @if (@Model.URL != null)
        {
            <div>
                <input class="form-control" asp-for="URL" placeholder="Subtitle"> <br />
                <span class="text-danger" asp-validation-for="URL"></span>
            </div>
        }
        <div>
            <button type="submit" class="btn btn-success mt-3">Yadda saxla</button>
        </div>
    </form>
</div>

