@model Team
@{
    ViewData["Title"] = "Delete";
}

<div class="m-4">

    <div>
        <h4>Image</h4>
        <img style="width:400px;height:250px" src="~/assets/img/whyus/@Model.Image">
    </div>
    <div>
        <form method="post">
            <button class="btn btn-danger mt-2">Delete</button>
        </form>
    </div>
</div>


