@model List<AppUser>
@{
    ViewData["Title"] = "Index";
}

<div class="table-responsive">
    <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Name <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
      <th scope="col">Surname <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
      <th scope="col">Email <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>

      <th scope="col">Edit <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
    </tr>
  </thead>
  <tbody>
   @foreach (AppUser user in Model)
  {
      <tr>
          <td>@user.Name</td>
          <td>@user.Surname</td>
          <td>@user.Email</td>
          

          <td><a asp-controller="Account" asp-action="edit" asp-route-id="@user.Id" class="btn btn-success" style="border-radius:15px; background-color:#6366F1;border:none; width:50px;"><i class="fa-solid fa-pen-clip"></i></a></td>
      </tr>
  }
 
  </tbody>
</table>
</div>

