@model Category
@{
    ViewData["Title"] = "Delete";
}

<div class="m-4">
      <div>
        <h4 class="mt-3">Id</h4>
        <p>@Model.Id</p>
    </div>
    <div>
        <h4 class="mt-3">Title</h4>
        <p>@Model.Name</p>
    </div>
    <div>
        <form method="post">
            <button  class="btn btn-danger mt-2">Delete</button>
        </form>
    </div>
</div>

